@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", Arial;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.fundo {
    display: flex;
    background-color: rgba(38, 44, 39, 0.89);
    flex-direction: column;
    width: 50rem;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}