body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.fundo {
    display: flex;
    background-color: black;
    height: 350px;
    width: 250px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

input {
    display: flex;
    padding: 2px;
    margin-bottom: 5px;
}

.bt {
    display: flex;
    justify-content: center;
    align-items: center;
}