@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab";
    font-size: 20px;
    box-sizing: border-box;
}

#texto {
    font-size: 30px;
    color: white;
} p {
    opacity: 0.5;
    color: white;
}

.fechar-texto {
    display: flex;
    align-items: center;
    gap: 10px;
}

#fechar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 100%;
    background-color: #242424;
    border: none;
} #fechar:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh; 
    display: flex;
    background-color: #000000;
}

#chamado {
    width: 150px;
    height: 150px;
    margin-left: 70px;
}

/* C L A S S E S */

.container {
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo {
    width: 100%;
    max-width: 300px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: flex-start;
}

.form-group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo {
    display: flex;
    justify-content: center;
    background-color: #242222;
    height: 400px;
    width: 700px;
    min-width: 500px;
    padding: 25px;
    border-radius: 20px;
    gap: 25px;
}

input {
    color: white;
    background-color: #2a2a2a;
    display: flex;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 10px;
    outline: none;
    caret-color: green;
    font-size: 20px;
}

.submit-area {
    display: flex;
    justify-content: flex-end;
    right: 0;
}

@media (max-width: 900px) {
    .fundo {
        flex-direction: column;
        gap: 20px;
    } .container {
        height: auto;
    } .submit-area {
        justify-content: center;
    } p, img {
        display: none;
    } .titulo {
        min-width: 100%;
        text-align: center;
        gap: 25px;
    } .fundo {
        height: auto;
        max-width: 400px;
    }
}

form {
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    
}

input:focus {
    border: 2px solid green;
    background:none;
}

#kayke {
    margin-top: 10px;
    padding: 7px;
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.2);
    color: green;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 40%;
} #kayke:hover {
    background-color: green;
    color: white;
}