* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;   
}

.fundo {
    display: flex;
    background-color: rgb(43, 43, 43);
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    height: 350px;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    display: flex;
    color: white;
    margin-bottom: 15px;
}

input {
    display: flex;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#kayke {
    width: 100%;
}


.form {
    width: auto;
    height: auto;
}